@import 'constants';

.modal-content {
  h4 {
    @include title(32px);
  }
  p {
    @include text(14px);
  }
}

.project-title {
  @include text(16px);
}

.back {
  position: fixed;
  left: 5%;
  top: 5%;
  z-index: 99;
}

.my-pink {
  background-color: $pink !important;
}
