.main-name {
  font-family: "Lobster", cursive;
  font-size: 36px;
  color: #FCFBE3; }

.header-text {
  font-family: "Josefin Slab", serif;
  font-size: 24px;
  color: #FCFBE3; }

.body-text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #FCFBE3; }
  .body-text a {
    color: #FCFBE3; }
    .body-text a:hover {
      border-bottom: 1px dotted #FCFBE3; }

.main-background {
  background: #E9627D; }

.modal-content h4 {
  font-family: "Lobster", cursive;
  font-size: 32px; }

.modal-content p {
  font-family: "Raleway", sans-serif;
  font-size: 14px; }

.project-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px; }

.back {
  position: fixed;
  left: 5%;
  top: 5%;
  z-index: 99 !important; }

.my-pink {
  background-color: #E9627D !important; }

.animate-in {
  animation: fadeIn .5s ease-in; }

.animate-out {
  transition: opacity .5s;
  opacity: 0; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
